<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>ACLED v5 (1997-2014) Conflict Dataset Visualization</title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/datetimepicker.css">
</head>
<body>
  <script src="js/angular.min.js"></script>
  <script src="js/d3.min.js"></script>
  <script src="js/topojson.js"></script>
  <script src="js/datamaps.world.min.js"></script>
  <script src="js/jquery-1.12.0.min.js"></script>
  <script src="js/moment.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/datetimepicker.js"></script>
  <div id="header"><h1 style="text-align:center">ACLED v5 (1997-2014) Conflict Dataset Visualization</h1></div>
  <div id="container"
    style="position: relative; margin: 0 auto; height: 875px; width: 800px;"></div>
  <div id="filters" style="text-align:center" ng-app="conflictsApp" ng-controller="ConflictsController as conflictsCtrl">
    <span class="dropup">
      <a class="dropdown-toggle" id="startDateDropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
        <span><label>Start Date:</label><input type="text" data-ng-model="startDate" size=7>
        </span>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <datetimepicker data-ng-model="startDate" data-datetimepicker-config="{ dropdownSelector: '#startDateDropdown', startView:'day', minView:'day' }"/>
      </ul>
    </span>
    <span class="dropup">
      <a class="dropdown-toggle" id="endDateDropdown" role="button" data-toggle="dropdown" data-target="#" href="#">
        <span><label>End Date:</label><input type="text" data-ng-model="endDate" size=7>
        </span>
      </a>
      <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
        <datetimepicker data-ng-model="endDate" data-datetimepicker-config="{ dropdownSelector: '#endDateDropdown', startView:'day', minView:'day' }"/>
      </ul>
    </span>
    <span id="countryField"><label>Country:</label><select ng-model="countrySelect" ng-options="country for country in countries" ng-change="conflictsCtrl.updateActors()" style="width: 100px"></select></span>
    <span id="actor1Field"><label>Actor 1:</label><select ng-model="actor1Select" ng-options="actor for actor in actors" style="width: 100px"></select></span>
    <span id="actor2Field"><label>Actor 2:</label><select ng-model="actor2Select" ng-options="actor for actor in actors" style="width: 100px"></select></span>
    <span id="lowEndField"><label>Low End Number of Fatalities:</label><input type="text" ng-model="lowEnd" size=1></span>
    <span id="highEndField"><label>High End Number of Fatalities:</label><input type="text" ng-model="highEnd" size=1></span>
    <span><button type="button" ng-click="conflictsCtrl.applyFilters()">Apply Filters</button></span>
    <span><button type="button" ng-click="conflictsCtrl.resetFilters()">Reset Filters</button></span>
  </div>
  <div>
    <span>
      <br/>
      <i>Data Source: <a href="http://www.acleddata.com/data/version-5-data-1997-2014">ACLED Version 5 (1997 - 2014)</a></i><br/>
      <i>Raleigh, Clionadh, Andrew Linke, Håvard Hegre and Joakim Karlsen. 2010. Introducing ACLED-Armed Conflict Location and Event Data. Journal of Peace Research 47(5) 651-660.</i>
    </span>
  </div>
  <script>
    // Create map
    var map =
      new Datamap({
        element : document.getElementById("container"),
        scope : 'world',
        fills: {
          bubble: 'red',
          defaultFill: '#ABDDA4'
        },
        // Zoom in on Africa
        setProjection : function(element) {
          var projection =
            d3.geo.mercator().center([ 23, 2 ]).rotate([ 4.4, 0 ])
              .scale(625).translate(
                 [ element.offsetWidth / 2, element.offsetHeight / 2 ]);
          var path = d3.geo.path().projection(projection);

          return {
            path : path,
            projection : projection
          };
        }
      });

    // Set up Angular controller
    var conflictsApp = angular.module('conflictsApp', ['ui.bootstrap.datetimepicker']);
    conflictsApp.controller('ConflictsController', function($scope, $http, $filter) {
      // Populate countries dropdown
      $http.get("acled/conflict/getAllCountries").then(
        function(response) {
          $scope.countries = response.data;
        }
      );

      // Populate actors dropdowns
      this.loadActors = function() {
        // Populate actors dropdowns
        $http.get("acled/conflict/getAllActors").then(
          function(response) {
            var actors = response.data.sort();
            // Remove top element (blank)
            actors.splice(0, 1);
            $scope.actors = actors;
          }
        );
      };
      this.loadActors();

      // Function for filtering data shown on page
      this.applyFilters = function() {
        var filterParams = {};
        if ($scope.startDate) {
          filterParams.startDate = $scope.startDate;
        }
        if ($scope.endDate) {
          filterParams.endDate = $scope.endDate;
        }
        if ($scope.countrySelect) {
          filterParams.country = $scope.countrySelect;
        }
        if ($scope.actor1Select) {
          filterParams.actor1 = $scope.actor1Select;
        }
        if ($scope.actor2Select) {
          filterParams.actor2 = $scope.actor2Select;
        }
        if ($scope.lowEnd) {
          filterParams.lowEnd = $scope.lowEnd;
        }
        if ($scope.highEnd) {
          filterParams.highEnd = $scope.highEnd;
        }
        $http({method: "GET", url: "acled/conflict/getConflictsByCriteria", params: filterParams}).then(
          function success(response) {
            var conflicts = response.data;
            for (var i = 0; i < conflicts.length; i++) {
              conflicts[i].radius = Math.min(Math.max(4, conflicts[i].fatalities / 7), 60);
              conflicts[i].fillKey = 'bubble';
            }
            map.bubbles(conflicts, {
              popupTemplate: function (geo, data) {
                return ['<div class="hoverinfo">Fatalities: ' +  data.fatalities,
                        '<br/>Date: ' +  data.date + '',
                        '<br/>Location: ' +  data.location + '',
                        '<br/>Actor 1: ' +  data.actor1 + '',
                        '<br/>Actor 2: ' +  data.actor2 + '',
                        '</div>'].join('');
              }
            });
          }, function error(response) {
            // TODO: response.data is undefined?
            console.log(response.data);
          });
      };

      // Function for updating actors based on country selected
      this.updateActors = function() {
        var country = $scope.countrySelect;
        // Reset actors dropdowns if no country selected
        if (!country) {
          this.loadActors();
        }
        $http.get("acled/conflict/getActorsByCountry/" + country).then(
          function(response) {
            var actors = response.data.sort();
            // Remove top element (blank)
            actors.splice(0, 1);
            $scope.actors = actors;
          }
        );
      };

      // Function for resetting filters
      this.resetFilters = function() {
        $scope.startDate = '';
        $scope.endDate = '';
        $scope.countrySelect = '';
        $scope.actor1Select = '';
        $scope.actor2Select = '';
        $scope.lowEnd = '';
        $scope.highEnd = '';
        this.loadActors();
      };

      // Initial load of data for page
      $scope.startDate = '2014-01-01';
      $scope.endDate = '2014-12-31';
      $scope.lowEnd = 1;
      this.applyFilters();

      // Watch dates and format them
      $scope.$watch('startDate', function(startDate){
        $scope.startDate = $filter('date')(startDate, 'yyyy-MM-dd');
      });
      $scope.$watch('endDate', function(endDate){
        $scope.endDate = $filter('date')(endDate, 'yyyy-MM-dd');
      });
    });
  </script>
</body>
</html>